@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face{
    font-family: "Recoleta-SemiBold";
    src: url("../fonts/RecoletaAlt-SemiBold.ttf");
}

/* fonts */
html, body{
    font-family: 'Poppins', sans-serif;
}

.title{
    font-family: 'Recoleta-SemiBold';
    color: #3198DC;
    font-size: 3em;
}

p.is-small{
    font-size: 0.8em;
}

/* navbar */
.navbar-item{
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.navbar-end .account{
    margin-right: 10px;
}

/* buttons */
a.button{
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 20px;
}

@media only screen and (max-width: 600px){
    a.button{
        width: 100%;
    }
}


/* layout */
.container.login, 
.container.signup,
.container.account{
    width: 400px;
    padding: 20px;
}

.container.index{
    width: 550px;
}

.container.login .card,
.container.signup .card,
.container.account .card,
.container.index .card{
    padding: 40px;
}




